<header>
  <a name="to-the-top"></a>
  <div class="header" id="header">
    <div>
      <img
        class="logo-image"
        src="https://svgsilh.com/svg/1300236-ffffff.svg"
        alt="logo"
      />
    </div>
    <h1 class="logo-text">Cleveland</h1>

    <input class="header-input" type="text" placeholder="Enter request" />
    <button class="search-button">
      <img
        class="search-button-image"
        src="https://svgsilh.com/svg/1093184-ffffff.svg"
        alt="search"
      />
    </button>

    <nav>
      <ul class="header-nav">
        <a routerLink="/home" title="Home">Home</a>
        <a href="#" title="Catalog">Catalog</a>
        <a routerLink="/cart" class="pop-up-open" title="Cart">Cart</a>
        <a href="#" title="Profile">Profile</a>
      </ul>
    </nav>
  </div>
</header>
