/* Footer: */
.footer-container {
  height: 190px;
  background: black;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.logo-text-in-footer {
  font-size: 22px;
  cursor: pointer;
}

.footer-text {
  margin: 10px;
}

.sign-in-button {
  transition-duration: 0.2s;
  margin: 5px;
  height: 50px;
  width: 300px;
  background: rgb(66, 66, 66);
  color: white;
  border: 1px solid white;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}

.sign-in-button:hover {
  transition-duration: 0.2s;
  background: rgb(77, 7, 7);
  border-radius: 15px;
}

.back-to-top-button {
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  background: rgb(77, 7, 7);
  top: 20px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
}

.back-to-top-button:hover {
  background: rgb(129, 47, 47);
}
