<div class="card">
  <img class="card-img" src="{{ productCard.img }}" />
  <div class="info-container">
    <div class="product-description">
      <p class="product-name">{{ productCard.name }}</p>

      <p class="card-price">
        Price: $ <span class="price">{{ productCard.price }}</span>
      </p>
    </div>
    <div class="buttons-container">
      <button class="buy-button buy-now">Buy Now</button>
      <button
        class="buy-button description-button"
        onclick="window.location.href = '/description';"
      >
        Description
      </button>
      <button
        type="button"
        class="buy-button add-to-cart"
        (click)="addToCart()"
        [ngClass]="{ added: IsProductInCart }"
        [disabled]="IsProductInCart"
      >
        {{ buttonTitle }}
      </button>
    </div>
  </div>
</div>
