.welcome-part {
  color: white;
  background: url(https://img2.goodfon.ru/original/1440x900/4/73/suit-tie-elegance-shirt.jpg)
    no-repeat center;
  background-size: cover;
  height: 1000px;
  position: relative;
  width: 100%;
  top: 80px;
}

.text-container {
  transition-duration: 1s;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  width: 800px;
  height: 500px;
  top: 150px;
  left: 100px;
  display: flex;
  flex-wrap: wrap;
}

.text-container:hover {
  transition-duration: 1s;
  background-color: rgb(77, 7, 7);
  border-radius: 50px;
  box-shadow: 0 0 20px white;
}

#logo-image-2 {
  position: relative;
  height: 100px;
  width: 100px;
  left: 30px;
  top: 5px;
  cursor: default;
}

.header-text-welcome-part {
  color: white;
  position: relative;
  font-size: 90px;
  top: 23px;
  left: 35px;
  height: 50px;
  cursor: default;
}

.text-welcome-part {
  color: white;
  position: relative;
  margin: 0px 50px 0px 40px;
  font-size: 30px;
  font-style: italic;
  top: -10px;
  cursor: default;
  text-indent: 25px;
}
