.element-container {
  display: flex;
  border-bottom: 1px solid white;
  flex-basis: 21%;
}

.card-container {
  margin: 30px;
  display: flex;
  border: 1px solid white;
}

.card-container:hover {
  box-shadow: 0 0 20px white;
}

.card-img {
  cursor: zoom-in;
  height: 300px;
}

.name {
  background-color: rgb(77, 7, 7);
  font-size: 20px;
  padding: 15px;
  max-width: 350px;
}

.name:hover {
  background-color: rgb(102, 34, 34);
}

.description {
  max-width: 350px;
  padding: 15px;
  font-size: 20px;
}

.options-container {
  margin: 50px 30px 30px 50px;
}

.amount-buttons {
  display: block;
  width: 32px;
  height: 32px;
  background: black;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  line-height: 10px;
  margin-bottom: 10px;
}

.decrease-button:hover {
  cursor: pointer;
  background: rgb(121, 8, 8);
}

.increase-button:hover {
  cursor: pointer;
  background: rgb(43, 136, 43);
}

.counter {
  display: block;
  width: 50px;
  height: 32px;
  background: black;
  color: white;
  font-size: 18px;
  border: 1px solid white;
  text-align: center;
}

.price-container {
  font-size: 20px;
  margin-top: 12px;
}

.counter-container {
  display: flex;
  justify-content: space-between;
}

.delete-from-cart-button {
  color: white;
  background: black;
  padding: 10px;
  border: 1px solid white;
  height: 40px;
  font-size: 15px;
  margin-top: 15px;
}

.delete-from-cart-button:hover {
  background-color: rgb(77, 7, 7);
  cursor: pointer;
}
